@page
@using Models.Product;
@using Models.Product.Enums;
@model FitFusionWeb.Pages.Products.AllModel
@{
    ViewData["Title"] = "Products";
    string? messageType = TempData["Type"] as string;
    string? message = TempData["Message"] as string;
}

<h1>All products</h1>

@if (messageType == "danger")
{
    <div class="alert alert-danger">@message</div>
}
else if (messageType == "success")
{
    <div class="alert alert-success">@message</div>
}

<form method="post" class="mb-3">
    <div class="row">
        <div class="column small-12 medium-6 large-4">
            <input type="text" name="searchQuery" class="form-control" placeholder="Search..." value="@Model.SearchQuery">
        </div>

        <div class="column small-12 medium-6 large-2">
            <select name="sort" asp-for="Sort">
                <option value="@SortParameter.TitleAsc">Title Ascending</option>
                <option value="@SortParameter.TitleDesc">Title Descending</option>
                <option value="@SortParameter.PriceAsc">Price Ascending</option>
                <option value="@SortParameter.PriceDesc">Price Descending</option>
            </select>
        </div>

        <div class="column small-12 medium-6 large-2">
            <select asp-for="FilterByCategory">
                @foreach (var category in Enum.GetValues(typeof(Category)))
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>

        <div class="column small-12 medium-6 large-2">
            <input type="number" name="minPrice" class="form-control" placeholder="Min Price" value="@Model.MinPrice">
        </div>

        <div class="column small-12 medium-6 large-2">
            <input type="number" name="maxPrice" class="form-control" placeholder="Max Price" value="@Model.MaxPrice">
        </div>

        <div class="column small-12 medium-12 large-4">
            <button type="submit" class="btn btn-primary">Apply Filter</button>

            @if (User.IsInRole("Owner") || User.IsInRole("Staff"))
            {
                <button type="button" class="btn btn-warning" onclick="location.href='./Create'">Create</button>
            }

        </div>
    </div>
</form>

<div class="grid-container">
    <div class="grid-x">
        @foreach (var product in Model.Products)
        {
            <div class="cell">
                <article class="card">
                    <img style="width: 400px; height: 300px;" class="card-img" src="@((product.ImageUrl != null) ? product.ImageUrl : "https://your-const-link.com/default-image.jpg")" alt="@product.Title">

                    <div class="card-body">
                        <h2 class="card-title">@product.Title</h2>
                        <p class="card-description">@product.Description</p>
                        <p class="card-price">
                            @if (product.Category == Category.Redeem)
                            {
                                @($"{product.Price} NP")
                            }
                            else
                            {
                                @($"{product.Price} $")
                            }

                        </p>
                    </div>

                    <a class="button primary btnElement" href="./Product/@product.Id">View product</a>

                    @if (User.IsInRole("Customer"))
                    {
                        <a class="button success btnElement" style="margin: 0" asp-page="../Cart" asp-page-handler="AddToCart" asp-route-id="@product.Id">Add to Cart</a>
                    }

                    @if (User.IsInRole("Owner") || User.IsInRole("Staff"))
                    {
                        <a class="button warning btnElement" href="./Update/@product.Id">Update product</a>
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="id" value="@product.Id" />
                            <button type="submit" class="button alert btnElement" style="width: 100%;">Delete</button>
                        </form>
                    }

                </article>
            </div>
        }
    </div>
</div>
