@page
@model FitFusionWeb.Pages.Products.AllModel
@{
    ViewData["Title"] = "Products";
    string messageType = TempData["Type"] as string;
    string message = TempData["Message"] as string;
}

<h1>All products</h1>

@if (messageType == "danger")
{
    <div class="alert alert-danger">@message</div>
}
else if (messageType == "success")
{
    <div class="alert alert-success">@message</div>
}

<div class="small button-group">
    <a class="button" href="./Create">Create</a>
</div>

<form method="post" class="mb-3">
    <div class="row">
        <div class="column small-12 medium-6 large-4">
            <input type="text" name="searchQuery" class="form-control" placeholder="Search..." value="@Model.SearchQuery">
        </div>
        <div class="column small-12 medium-6 large-4">
            <select name="sort">
                <option selected disabled>Select filter</option>
                @if (Model.Sort == "titleAsc")
                {
                    <option value="titleAsc" selected>Title Ascending</option>
                }
                else
                {
                    <option value="titleAsc">Title Ascending</option>
                }

                @if (Model.Sort == "titleDesc")
                {
                    <option value="titleDesc" selected>Title Descending</option>
                }
                else
                {
                    <option value="titleDesc">Title Descending</option>
                }

                @if (Model.Sort == "priceAsc")
                {
                    <option value="priceAsc" selected>Price Ascending</option>
                }
                else
                {
                    <option value="priceAsc">Price Ascending</option>
                }

                @if (Model.Sort == "priceDesc")
                {
                    <option value="priceDesc" selected>Price Descending</option>
                }
                else
                {
                    <option value="priceDesc">Price Descending</option>
                }

            </select>
        </div>
        <div class="column small-12 medium-12 large-4">
            <button type="submit" class="btn btn-primary">Apply Filter</button>
        </div>
    </div>
</form>

<div class="grid-container">
    <div class="grid-x">
        @foreach (var product in Model.Products)
        {
            <div class="cell">
                <article class="card">
                    <img class="card-img" src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" alt="@product.Title">
                    @* <img class="card-img" src="@product.ImageUrl" alt="@product.Title"> *@

                    <div class="card-body">
                        <h2 class="card-title">@product.Title</h2>
                        <p class="card-description">@product.Description</p>
                        <p class="card-price">@product.Price</p>
                    </div>

                    <a class="button success btnElement" style="margin: 0" asp-page="../Cart" asp-page-handler="AddToCart" asp-route-id="@product.Id">Add to Cart</a>
                    <a class="button primary btnElement" href="./Product/@product.Id">View product</a>
                    <a class="button warning btnElement" href="./Update/@product.Id">Update product</a>
                    <a class="button alert btnElement" style="margin: 0" asp-page="Management" asp-page-handler="delete" asp-route-id="@product.Id">Delete product</a>
                    
                </article>
            </div>
        }
    </div>
</div>
