@page
@model FitFusionWeb.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Create Product";
}
@using Models.Product.Enums;

<h1>Create Product</h1>


@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}


<form method="post">
    <div>
        <input asp-for="ProductView.Id" type="hidden" class="form-control" />
    </div>
    <div>
        <label asp-for="@Model.ProductView.Title"></label>
        <input asp-for="@Model.ProductView.Title" class="form-control" />
        <span asp-validation-for="@Model.ProductView.Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.Description"></label>
        <input asp-for="ProductView.Description" class="form-control" />
        <span asp-validation-for="ProductView.Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.Price"></label>
        <input asp-for="ProductView.Price" class="form-control" />
        <span asp-validation-for="ProductView.Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.Category"></label>
        <select asp-for="ProductView.Category" class="form-control">
            @foreach (var category in Enum.GetValues(typeof(Category)))
            {
                <option value="@category">@category</option>
            }
        </select>
        <span asp-validation-for="ProductView.Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.ImageUrl">Image URL (default one applied)</label>
        <input asp-for="ProductView.ImageUrl" class="form-control" value="https://demofree.sirv.com/nope-not-here.jpg" />
        <span asp-validation-for="ProductView.ImageUrl" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
