@page "{Id}"
@model FitFusionWeb.Pages.Products.ProductModel
@{
    ViewData["Title"] = "Product Details";
}

<div class="product-details-container">
    <div class="product-image">
        <img src="@Model.Product.ImageUrl" alt="Product Image" />
    </div>

    <div class="product-info">
        <h2>@Model.Product.Title</h2>

        <div class="product-description">
            <p>Description: @Model.Product.Description</p>
        </div>

        <div class="product-details">
            <p>Price: @Model.Product.Price $</p>
            <span>Category:</span>
            <p class="category">@Model.Product.Category.ToString()</p>
        </div>
    </div>
</div>