@page "{Id}"
@using Models.Product.Enums;
@model FitFusionWeb.Pages.Products.UpdateModel
@{
    ViewData["Title"] = "Product Update";
}

<h1>Update Product</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}

<form method="post">
    <div>
        <input name="Product.Id" type="hidden" value="@Model.Product.Id" class="form-control" />
    </div>
    <div>
        <label for="Product.Title">Title</label>
        <input name="Product.Title" value="@Model.Product.Title" class="form-control" />
        <span class="text-danger">@(ModelState["Product.Title"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
    </div>
    <div>
        <label for="Product.Description">Description</label>
        <input name="Product.Description" value="@Model.Product.Description" class="form-control" />
        <span class="text-danger">@(ModelState["Product.Description"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
    </div>
    <div>
        <label for="Product.Price">Price</label>
        <input name="Product.Price" value="@Model.Product.Price" class="form-control" />
        <span class="text-danger">@(ModelState["Product.Price"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
    </div>
    <div>
        <label for="Product.Category">Category</label>
        <select name="Product.Category" class="form-control">
            @foreach (var category in Enum.GetValues(typeof(Category)))
            {
                <option value="@category" selected="@Model.Product.Category == category">@category</option>
            }
        </select>
        <span class="text-danger">@(ModelState["Product.Category"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
    </div>
    <div>
        <label for="Product.ImageUrl">ImageUrl</label>
        <input name="Product.ImageUrl" value="@Model.Product.ImageUrl" class="form-control" />
        <span class="text-danger">@(ModelState["Product.ImageUrl"]?.Errors.FirstOrDefault()?.ErrorMessage)</span>
    </div><br />

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>
