@page
@model FitFusionWeb.Pages.CartModel
@using Models.Product;
@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="cart-container">
    <div class="product-list">
        @if (Model.Cart != null && Model.Cart.Products.Count() > 0)
        {
            @foreach (KeyValuePair<Product, int> entry in Model.Cart.GetCartDictionary())
            {
                <div class="product-item">
                    <h3>@entry.Key.Title</h3>
                    <h5>@entry.Key.Price</h5>
                    <h6>Quantity: @entry.Value</h6>
                </div>
            }
        }
        else
        {
            <h3>No products in the cart</h3>
        }
    </div>

    <div class="order-summary">
        <form method="post" asp-page="/Cart">
            <h2>Order Summary</h2>
            <h5>Customer: @Model.CurrentUser.GetFullName()</h5>
            <h5>Address: @Model.CurrentUser.Address</h5>
            <hr />
            <h5>Total Price: @Model.Cart.TotalPrice $</h5>
            <h5>Needed: @Model.Cart.NutriPointsNeeded NP</h5>
            <hr />
            <h5>Reward: @Model.Cart.NutriPointsReward NP</h5>
            <br />
            <p>*NP means Nutri Points</p>
            <hr />
            <input asp-for="Note" />
            <hr />
            <a class="btn btn-dark me-2" asp-page="/Products/All">Continue Shopping</a><br />

            <button type="submit" class="btn btn-success me-2">Finish Order</button>
        </form>
    </div>


</div>
