@page
@model FitFusionWeb.Pages.CartModel
@using Models.Product;
@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="cart-container">
    <div class="product-list">
        @if (Model.Order.Cart != null)
        {
            @foreach (KeyValuePair<Product, int> entry in Model.Order.Cart)
            {
                <div class="product-item">
                    <h3>@entry.Key.Title</h3>
                    <h5>@entry.Key.Price</h5>
                    <img src="@entry.Key.ImageUrl">
                    <h6>Quantity: @entry.Value</h6>
                    <hr />
                </div>
            }
        }
        else
        {
            <h3>No products in the cart</h3>
        }
    </div>

    <div class="order-summary">
        <h2>Order Summary</h2>
        <p>Email: @Model.CurrentUser.Email</p>
    </div>
</div>

