@page
@model IndexModel
@{
    ViewData["Title"] = "FitFusion";
}
@using Models.Product;
@using Models.Product.Enums;

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
        <li class="orbit-slide is-active">
            <img src="https://gymvmt.com/wp-content/uploads/2023/03/careers_header-1.jpg">
        </li>
    </ul>
</div>

<div>
    <div class="row column text-center">
        <h2>Our Newest Products</h2>
        <hr>
    </div>

    <div class="row small-up-2 large-up-4">
        @for (int i = 0; i < 4; i++)
        {
            <div class="column">
                <img style="width:300px; height:400px;" class="card-img" src="@((@Model.Products[i].ImageUrl != null) ? @Model.Products[i].ImageUrl : "https://your-const-link.com/default-image.jpg")" alt="@@Model.Products[i].Title">
                <h5>@Model.Products[i].Title</h5>
                <p>@Model.Products[i].Price €</p>
                <a class="button primary btnElement expanded" href="./Products/Product/@Model.Products[i].Id">View product</a>
            </div>
        }
    </div>
</div>

<hr>

<div class="row column">
    <div class="callout primary">
        <h3>Want to be big, you need to buy more protein!</h3>
    </div>
</div>

<hr>

<div>
    <div class="row column text-center">
        <h2>Want to redeem your Nutri Points?</h2>
        <hr>
    </div>

    <div class="row small-up-2 medium-up-3 large-up-6">
        @foreach (Product product in Model.Products)
        {
            @if (product.Category == Category.Redeem)
            {
                <div class="column">
                    <img class="card-img" src="@((product.ImageUrl != null) ? product.ImageUrl : "https://your-const-link.com/default-image.jpg")" alt="@product.Title">
                    <h5>@product.Title</h5>
                    <p>@product.Price €</p>
                    <a class="button primary btnElement expanded" href="./Products/Product/@product.Id">View product</a>
                </div>
            }
        }
    </div>
</div>

<div>
    <div class="row column text-center">
        <h2>What our clients say</h2>
        <hr>
    </div>

    <div>
        <div class="media-object">
            <div class="media-object-section">
                <div class="thumbnail">
                    <img style="width: 50px; height: 50px" src="https://media.allure.com/photos/655641143bf53d95bc30fedd/4:3/w_2312,h_1734,c_limit/margot%20robbie%20nail%20color.jpg">
                </div>
            </div>
            <div class="media-object-section main-section">
                <h4>Margot Robbie</h4>
                <p>Keeping up with the demands of Hollywood requires more than just talent. This nutrition shop has been my secret weapon for staying fit and feeling great on and off the screen. Highly recommended!</p>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <div class="thumbnail">
                    <img style="width: 50px; height: 50px" src="https://hollywoodlife.com/wp-content/uploads/2017/02/james-hetfield-bio-pic.jpg?quality=100">
                </div>
            </div>
            <div class="media-object-section main-section">
                <h4>James Hetfield</h4>
                <p>Being on tour demands a lot from my body, and this nutrition shop has been a lifesaver. Their supplements keep me energized and ready to rock the stage every night. Thanks for the support!</p>
            </div>
        </div>
        <div class="media-object">
            <div class="media-object-section">
                <div class="thumbnail">
                    <img style="width: 50px; height: 50px" src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Eminem_2021_Color_Corrected.jpg">
                </div>
            </div>
            <div class="media-object-section main-section">
                <h4>Eminem</h4>
                <p>Staying on top of my game requires not just talent but also a healthy lifestyle. This nutrition shop has been my go-to for supplements that keep me sharp and ready for the rap battles. Thanks for the support!</p>
            </div>
        </div>
    </div>
</div>