@page
@using Models.User;
@model FitFusionWeb.Pages.Users.AllModel
@{
    ViewData["Title"] = "Users";
    string? messageType = TempData["Type"] as string;
    string? message = TempData["Message"] as string;
}

<h1>All Users</h1>

@if (messageType == "danger")
{
    <div class="alert alert-danger">@message</div>
}
else if (messageType == "success")
{
    <div class="alert alert-success">@message</div>
}

<form method="post" class="mb-3">
    <div class="row">
        <div class="column small-12 medium-6 large-4">
            <input type="text" name="searchQuery" class="form-control" placeholder="Search..." value="@Model.SearchQuery">
        </div>

        <div class="column small-12 medium-6 large-2">
            <select name="sort" asp-for="Sort">
                <option selected disabled>Select filter</option>
                <option value="FirstNameAscending">First Name Ascending</option>
                <option value="LastNameAscending">Last Name Descending</option>
            </select>
        </div>

        <div class="column small-12 medium-6 large-4" style="display: flex; align-items: flex-start;">

            <button type="submit" class="btn btn-primary">Apply Filter</button>

            <ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 250px; margin-left: 10%">
                <li>
                    <button class="btn btn-warning" type="button" aria-expanded="false">Create</button>
                    <ul class="vertical menu nested">
                        <li><a href="./Create/Owner">Owner</a></li>
                        <li><a href="./Create/Staff">Staff</a></li>
                        <li><a href="./Create/Customer">Customer</a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</form>

<div class="grid-container">
    <div class="grid-x">
        @foreach (User user in Model.Users)
        {
            <div class="cell">
                <article class="card">
                    <div class="card-body">
                        @if (user.GetUserRole() == "Owner")
                        {
                            <p class="owner-label" style="color: darkblue; font-weight: bold;">Owner</p>
                        }
                        else if (user.GetUserRole() == "Staff")
                        {
                            <p class="owner-label" style="color: grey; font-weight: bold;">Staff</p>
                        }
                        else if (user.GetUserRole() == "Customer")
                        {
                            <p class="owner-label" style="color: green; font-weight: bold;">Customer</p>
                        }

                        <h2 class="card-title">@user.FirstName @user.LastName</h2>
                        <p class="card-description">@user.Email</p>
                    </div>
                    <a class="button primary btnElement" style="margin: 0">View Details</a>
                    <a class="button alert btnElement" style="margin: 0">Delete</a>
                </article>
            </div>
        }
    </div>
</div>
