@page
@model FitFusionWeb.Pages.Authentication.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="login-box">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="@Model.Email">Email</label>
            <input asp-for="@Model.Email" oninput="checkFields(this)" />
        </div>
        <div>
            <label asp-for="@Model.Password">Password</label>
            <input asp-for="@Model.Password" type="password" oninput="checkFields(this)" />
        </div>

        <div class="remember-me">
            <div>
                <input type="checkbox" asp-for="@Model.RememberMe" />
                <label asp-for="@Model.RememberMe">Remember Me</label>
            </div>
            <button type="submit" id="submitButton" style="display: none;">Log in</button>
        </div>
    </form>
</div>

<script>
    function checkFields(input) {
        let email = input.form.elements['Email'].value.trim();
        let password = input.form.elements['Password'].value.trim();
        input.form.elements['submitButton'].style.display = email !== '' && password !== '' ? 'block' : 'none';
    }
</script>